$sm:0px;
$md:865px;
$lg:865px;
$xl:1277px;
@import '../node_modules/primeflex/src/_variables';
@import '../node_modules/primeflex/src/_grid';
@import '../node_modules/primeflex/src/_formlayout';
@import '../node_modules/primeflex/src/_display';
@import '../node_modules/primeflex/src/_text';
@import '../node_modules/primeflex/src/flexbox/_flexbox';
@import '../node_modules/primeflex/src/_spacing';
@import '../node_modules/primeflex/src/_elevation';